pandas == 1.4.2
scikit_learn == 1.1.3
streamlit == 1.19.0
nltk == 3.7
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
regex @ file:///C:/ci/regex_1648447888413/work
collections == 3.3
numpy == 1.22.4
